<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.handle.order.mapper.IOrderMapper">

    <sql id="Basic_Column_Info">id,order_number,order_content,order_time,order_money,`type`,`user`,operate_user,status</sql>

    <select id="queryOrderList" parameterType="java.util.Map" resultType="Order">
        select <include refid="Basic_Column_Info" /> from `order` where user = #{user} limit #{index},#{size}
    </select>
</mapper>